<!doctype html>
<html lang="en" class="min-vw-100 min-vh-100">
  <head>
    <title>flashybolt45</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.min.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="google-site-verification" content="MRfEQyVKzCt_sdi3BIEKF7vYbYABedGTs7d9bbF9vsY" />
  </head>
  <body class="font-monospace w-100 h-100">
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{url_for('projects')}}">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{url_for('ctf')}}">CTF</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-md-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Socials
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://discords.com/bio/p/1e782955-0214-b786-46e1-562371494360" target="_blank_">Discord</a></li>
                <li><a class="dropdown-item" href="https://github.com/flashybolt" target="_blank_">Github</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="text-center container-lg">
      <img src="{{url_for('static', filename='pfp.png')}}" class="pt-5 pb-3 img-fluid" id="pfp">
      <h2 class="">flashybolt45</h2>
      <h4 class="text-wrap w-50 mx-auto">Hi! I'm a random person on the internet who likes coding things. I use a lot of web frameworks including react, next.js, flask, and tailwindcss. I also enjoy playing CTFs.</h4>
    </main>  
  </body>    
</html>   